{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="ui-form">
                    <h3>{{ 'authorization'|trans }}</h3>
                    <form id="form-with-fields" method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="inputUsername">{{ 'username'|trans }}</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">{{ 'password'|trans }}</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn" type="submit">{{ 'sign_in'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}